$color-primary: rgb(50, 128, 173);
$color-secondary: rgba(189, 190, 190, 0.918);
$color-gray: #a4a4a79f;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;


body {
  font-family: $body-font;
}

h1,
h2,
h3 {
  font-family: $header-font;
}

h2 {
  color: $color-primary;
}

header {
    h2 {
        color: $color-primary;
    }
}

.site-footer {
  background-image: linear-gradient($color-gray, white);
  padding: 20px 0;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(
    to right,
    $color-secondary,
    rgba(241, 224, 224, 0.74) 30%,
    rgba(238, 238, 238, 0.507) 60%
  );
  color: black;
  margin: 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
    background-color: $color-mid;
}

.carousel-caption {
  background-color: $color-black-transparent;
}

.carousel {
  border: solid 6px $color-secondary;

}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}
  